@if(ViewData["ShowFooter"] as bool? != false)
{
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - GlassApplication - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
}